#box{
    height: 300px;
    width: 350px;
    border: 1px solid #000;
    border-radius: 10px 0px 10px 0px;
    border-style: solid;
    padding: 10px;
    margin: 0 auto;
    background-color: lightcoral;
    font-size: 16px;
    color: #002244;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}